# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: build-github-pages

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      # Set to automatically get any bug fixes and new Ruby versions for ruby/setup-ruby,
      # see https://github.com/ruby/setup-ruby#versioning
      with:
        ruby-version: 2.6
    - name: Install dependencies
      run: bundle install
    - name: Confirn that github pages build successfully with jekyll
      run: bundle exec jekyll build
